body{
  font-family: 'Monserrat';
}
/* Titile Section */
section#title-section {
  background-image: url("images/http.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  width: auto;
}

/* Navbar Section1 */
.navbar {
  padding: 0 0 4.5rem;
}
.navbar-brand,
.nav-link {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}
.navbar-brand {
  font-size: 2.5rem;
}
.nav-link {
  font-size: 1.5rem;
}
/* Features */
.features{
    padding: 5% 0%;
}
.head-summary{
  font-family: Roboto;
  font-weight: 700;
  font-size: 3rem;
}
.card-header{
  font-family: Roboto;
  font-weight: 500;
}
.explain-code {
  font-weight: 700;
  font-size: 1.5rem;
}
/* footer section */
.footer-section{
  background-color: #eee;

}